@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import "./reset";

$white: #ffff;
$darkBlue: hsla(241, 100%, 21%, 1);

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  overflow: hidden;
  background-color: #1090cb;
}

main {
  position: relative;
  display: flex;
}

#header {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 40%;
  top: 5em;
  left: 3.5em;
  font-size: 2em;

  h2 {
    font-weight: 600;
    color: $white;
    transition: color 1s ease-out;
  }
  span {
    color: $darkBlue;
  }
}

#slogan {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 28em;
  left: 7em;

  h3 {
    color: $white;
    transition: color 1s ease-out;
    font-weight: 400;
  }
}

/*to edit the size of the png, you must first edi the size of the container
then, edit image size to fit the container 100%*/
.logo {
  width: 7em;
  position: absolute;
  top: 36em;
  left: 6em;
  opacity: 1;
  border-radius: 10px;
  transition: visibility opacity 1s ease-out;
  #png {
    width: 100%;
  }
}
.image-1 {
  display: flex;
  position: absolute;
  width: 55em;
  left: 40%;
  transition: opacity 1.2s ease-out;
  z-index: 1;
  img {
    width: 100%;
  }
}

.image-2 {
  display: flex;
  position: absolute;
  right: 0;
  top: 0em;
  overflow: hidden;
  transition: opacity 1s ease-out;
  z-index: 0;
}

@media only screen and (max-width: 1262px) {
  main {
    flex-direction: column;
  }
  #header {
    width: 100%;
    flex-direction: column;
    z-index: 1;
  }
  #slogan {
    width: 100%;
    flex-direction: column;
  }

  .image-1 {
    flex-direction: column;
    opacity: 0.6;
    z-index: -1;
  }
  .image-2 {
    flex-direction: column;
    z-index: -2;
    opacity: 0.6;
  }
}

@media only screen and (max-width: 1136px) {
  .logo {
    display: none;
    visibility: 0;
    opacity: 0;
  }
  .image-1 {
    opacity: 0.1;
  }
  .image-2 {
    opacity: 0.2;
  }
}

@media only screen and (max-width: 620px) {
  main {
    height: 100vh;
  }
  #header {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
  }
  #slogan {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 30em;
    left: 0px;
  }
}

@media only screen and (max-width: 411px) {
  #header {
    top: 1em;
  }
  #slogan {
    top: 30em;
  }
}

@media only screen and (max-width: 331px) {
  #slogan {
    top: 37em;
  }
}
