@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import "./reset";

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  overflow: hidden;
  background-color: #1090cb;
}
